*{
    margin: 0;
    padding: 0; 
    font-family:'Roboto', sans-serif;
}

body{
    height: 100vh;
}


#navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

#navbar{
    margin-right: 20px;
}

#navbar-logo{
    margin-left: 20px;
    color: rgb(40, 50, 99);
}

#navbar-item{
    text-decoration: none;
    margin: 10px 10px;
    color: rgb(40, 50, 99);
    font-weight: bold;
}

#navbar-item:hover{
    color: #fa991a;
}

#logo-click{
    text-decoration: none;
}

.mainbody{
    display: flex;
    max-width: 500px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: auto;
    margin-top: 10rem;
}

.main-splash, .main-game, .main-section{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin: auto;
    height:100%;
}

.main-splash, .main-game{
    background-image: url('../assets/spacebg.svg');
    background-repeat: no-repeat;
    overflow: -moz-hidden-unscrollable;
}

.main-section{
    background-color: rgb(155, 182, 241);
}

#container-splash, #container-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}



.about-title, hr, .menu-title{
    align-self: center;
}

.about-title, .menu-title{
    margin: 1.3rem;
}

.about-text{
 text-align: center;
 margin: 1rem;
 line-height: 1.5rem;
 word-wrap: break-word;
}

hr{
    width: 50%;
    margin: 1rem;
}

#footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.space, .invaders{
    text-align: center;
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-size: 100px;
    line-height: 100px;
}

.invaders{
    margin-bottom: 50px;
}

.footer-left, .footer-right{
    margin: 1.5rem;
    color: rgb(40, 50, 99);
}

.menu{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    margin-top: 10rem;
}

.menu-item{
    color: white;
    background-color: rgb(86, 136, 193);
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

.btn-login{
    color: white;
    background-color: rgb(86, 136, 193);
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-begin{
    color: white;
    font-weight: bold;
    background-color: rgb(250, 108, 26);
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: none;
    align-self: center;
    width: 200px;
}

.form-login{
    color: white;
    background-color: rgb(102, 194, 133);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-item:hover, .menu-item:active{
    background: rgb(105, 154, 210);
}

.container-login{
    display: flex;
    max-width: 400px;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}

.input-item{
    padding: 0.75rem;
    border: solid 2px rgb(105, 154, 210);
    border-radius: 3px;
    margin-bottom: 10px;
}

.label-item{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-title{
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.container-login{
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
}

.page-container{
    display: flex;
    max-width: 500px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: auto;
    margin-top: 10rem;
}

.username-title{
    color: red;
}

.fake-container{
    display: flex;
    max-width: 600px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: auto;
    margin-top: 10rem;
}

form{
    width: 500px;
    height: 250px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 1.4rem;
    margin: 10px;
}

.subtext{
    text-align: center;
    color: rgb(45, 69, 134);
    margin-top: 10px;
}

label{
    color: rgb(45, 69, 134);
    margin-bottom: 8px;
    margin-top: 10px;
}

input{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: 1px solid rgb(45, 69, 134);
    margin-bottom: 10px;
    color: rgb(25, 67, 114);
    border-radius: 4px;
}

.game-canvas{
    background-color: rgb(7, 32, 80);
    height:650px;
    width: 1000px;
    align-self: center;
}

.score{
    align-self: center;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
}

/* scorecards - leaderboards*/

#container-board{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}

.score-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(250, 108, 26);
    color: white;
    width: 300px;
    padding: 1rem 1rem;
    margin: 0.75rem 1rem;
}