<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="fake-container">
        <form method="post" action="test.php">
            <label for="username">Username:</label>
            <input type="text" id="username" class="username username-input" placeholder="Enter Username"> 
            <label for="username">Password:</label>
            <input type="text" id="username" class="username username-input" placeholder="Enter Password">
            <button type="submit" class="form-login">Login</button>
            <p class="subtext">Forgotten Password or Username? <b>Reset here.</b></p>
        </form>
    </div>
</body>
</html>